
/*css header*/
header{
    background-color: #1E1C21;
    height: 80px;
    
}
h1{
    display: none;
}

.cabecalho_alinhamento{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;

}
.menu{
    display: flex;
    width: 658px;
    justify-content: space-between;

}
.cabecalho_alinhamento svg{
    fill: white;
    width: 30px;


}
.barras{
    display: none;

}

.menu a{
    color: white;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
}
.menu a:hover{
    scale: 1.1;
    
}






/*css do banner*/

.banner{
    background-image: url(/assets/img/banner.png);
    height: 810px;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    
}
.posicao_texto{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;

}
.texto_banner span{
    font-size: 85px;
    font-family: 'Titillium Web', sans-serif;
}

.texto_banner{
    color: white;
    text-align: center; 
}
.texto_banner p{
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 90px;
}
.texto_banner a{
    font-family: 'Roboto', sans-serif;
    color:white;
    text-decoration: none;
    font-size: 25px;
    text-transform: uppercase;
    background-color: #C31616;
    padding:  15px 22px;
    border-radius: 12px;   
}





/*css da barra de games*/

.barra_games{
    display: flex;
    background-color: black;
    height: 140px;
    align-items: center;
}
.posicao_image_games{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 54px 0;
    flex-wrap: wrap;
}







 /*css das ofertas*/

.ofertas{
    background-color: #1E1C21;
}
.ofertas h2{
    color: white;
    padding: 25px;
}

.ofertas_cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.cards{
    width: 215px;
    height: 335px;
    background: linear-gradient(180deg, #000000 0%, rgba(83, 83, 83, 0.577381) 25%, rgba(196, 196, 196, 0) 87.5%);
    box-shadow: 1px 1px 20px 4px #000000;
    border-radius: 10px; 
    margin: 0px 80px 50px 0px;   
}
.cards p,h3{
    color: white;
    padding-left: 25px;
}
#valor{
    font-size: larger;
    color: orange;
}

.cards a{
    display: flex;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    background-color: #C31616;
    margin: 25px;
    padding: 10px 40px;
    border-radius: 12px;
    
}
.cards a:hover{
    scale: 1.1;
}






/*css da area de como participar das ligas*/

.sobre{
    background-image: url(/assets/img/Fundo.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    
}
.img_texto{
    display: flex;
    justify-content: space-around;
}


.texto_descricao{
    color: white;
    padding-top: 50px;
}
.img_descricao{
    height: 600px;
    width: 100%;
}






/*css footer*/

footer{
    background-color: #010101;
    padding: 20px;
    height: 100%;
}
footer h2{
    color: white;
}
.rodape{
    display: flex;
    justify-content: space-between;
}
.links_footer{
    display: flex;
    color: white;

}
.links_footer a{
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-family: 'Titillium Web', sans-serif;
}
footer .box_logo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.info_contato{
    color: white;
}





  /*responsividade*/

@media screen and (max-width: 1200px) {
    .logo{
        width: 240px;
        margin-right: 15px;
    }
    
    .menu{
        width: 550px;
    }
    
    
    .menu a{
        font-size: 16px;
    }
    
}
@media screen and (max-width: 768px) {
    .cabecalho_alinhamento{
        position: relative;
    }
    
    .menu{
        display: none;
        flex-direction: column;
        width: 150px;
        position: absolute;
        right: 0px;
        top: 70px;
        background-color: rgba(0, 0, 0, 0.815);
        padding: 15px;
        border-radius: 10px;
        box-shadow: 0px 0px 30px ;


    }
    .menu a{
        margin: 5px;
        text-align: end;


    }
    
    
    .barras{
        display: flex;
    }





}