<app-header></app-header>
<section class="banner banner-f1">
  <div class="grid posicao_texto">
       <div class="texto_banner">
          <span>Liga E-Players</span>
          <p>Maior portal de campeonatos online</p>
          <a href="">Inscreva-se</a>
       </div>
   </div>
</section>
<section class="barra_games">
     <div class="grid posicao_image_games">
         <a href=""><img src="/assets/img/f1logo.png" alt=""></a>
         <a href=""><img src="/assets/img/lollogo.png" alt=""></a>
         <a href=""><img src="/assets/img/cslogo.png" alt=""></a>
         <a href=""><img src="/assets/img/lollogo.png" alt=""></a>
         <a href=""><img src="/assets/img/fifalogo.png" alt=""></a>
     </div>
</section> 
<section class="ofertas">
   <div class="grid">
    <h2>Ofertas</h2>
    <div id="secao_produtos" class="ofertas_cards">
        
    </div>
</div>  


</section>
<section class="sobre">
     <div class="grid img_texto">
        <div class="texto_descricao">
            <h2>Como participar das Ligas?</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta praesentium,<br> a esse corporis animi eligendi adipisci possimus architecto dolor aperiam <br> magni omnis molestias commodi, nisi ab earum repudiandae voluptate cum.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex temporibus et error. <br> Porro mollitia facere, similique nam dolorum dolorem minus architecto, <br> fugiat natus non consectetur repellendus, asperiores voluptatibus possimus et.</p>

        </div>
        <div>
            <img class="img_descricao" src="/assets/img/lol img.png" alt="lol img">

        </div>

          
      </div>
</section>
<!-- <footer>
<div class="grid rodape">

    <div class="links_footer">
        <div>
            <h2>Links Úteis</h2>
            <ul>
                <li><a href="http://">Regras de ultilizaçao</a></li>
                <li><a href="http://">Suporte</a></li>
                <li><a href="http://">Central de Ajuda</a></li>
                <li><a href="http://">Contato</a></li>
            </ul>

        </div>
        <div>
            <h2>Páginas</h2>
            <ul>
                <li><a href="http://">Inicio</a></li>
                <li><a href="http://">Campeonatos</a></li>
                <li><a href="http://">Resultados</a></li>
                <li><a href="http://">Noticias</a></li>
                <li><a href="http://">Login/Cadastro</a></li>
            </ul>

        </div>
    </div>
    <div class="box_logo">
        <img class="logo" src="/assets/img/e_playerslogo.png" alt="logo do site">
    </div>

    <div class="info_contato">
        <p>Faça parte do nosso clan,assine nossa newsletter!</p>
        <form action="">
            <input type="email" placeholder="E-mail" required>
            <button>Cadastrar</button>
            <div class="redes_sociais">
                <h2>Siga-nos em:</h2>
                <a href=""><img src="/assets/img/instagram 1.png" alt="logo do instagram"></a>
                <a href=""><img src="/assets/img/facebook 1.png" alt="logo do facebook"></a>
                <a href=""><img src="/assets/img/youtube.png" alt="logo do youtube"></a>
            </div>
        </form>


        
    </div>

</div>

</footer>  -->
<app-foter></app-foter>